<!DOCTYPE html>
<html>

<head>
    <title>Basic A-Frame Scene</title>
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@5.0.0/dist/aframe-event-set-component.min.js"></script>
    <script
        src="https://unpkg.com/aframe-randomizer-components@3.0.2/dist/aframe-randomizer-components.min.js"></script>
</head>

<body>
    <a-scene background="color: #212" raycaster="objects: .raycastable">
        <a-assets>
            <!-- <script id="lobby-view" type="text/x-nunjucks-template">
                    {% for phi_center in range(0, 6) %}
                    <a-entity id="lobby-area-{{ phi_center+1 }}">
                        <a-cylinder mixin="frame" open-ended="true" 
                            side="double" radius="4.05" height="2.4" color="lightblue" opacity=".75"
                            theta-start="{{ phi_center*60-2.5 }}" theta-length="55"></a-cylinder>
                        <a-curvedimage src="../assets/room/kitchen/roomImage.png" 
                            color="#FFF" height="2" radius="4" 
                            theta-start="{{ phi_center*60 }}" theta-length="50" info-panel>
                        </a-curvedimage>
                    </a-entity>
                    {% endfor %}
                </script> -->

            <script id="stalls" type="text/x-nunjucks-template">
                {% for stall in range(0, 5) %}
                <a-entity id="stall-{{ stall }}" info-panel fetch-data="idx: {{ stall }}" polar-position-xz="radius: 6; theta: {{ 72*stall }};">
                    <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75" random-color>
                        <a-entity id="info-title" position="-1.6 .85 0.1"
                            text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo ({{ stall }})">
                        </a-entity>
                        <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                            src="../assets/room/kitchen/roomImage.png">
                        </a-image>
                        <a-entity id="infoPanel" position="0 -1.3 1.5" visible="false"
                            geometry="primitive: plane; width: 1.5; height: 1"
                            material="color: #333333; shader: flat; transparent: false" class="raycastable">
                            <a-entity id="panel-title" position="-0.68 .2 0"
                                text="shader: msdf; anchor: left; width: 1.5; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (2003)"></a-entity>
                            <a-entity id="panel-desc" position="-0.68 .1 0"
                                text="baseline: top; shader: msdf; anchor: left; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></a-entity>
                        </a-entity>
                    </a-box>
                </a-entity>
                {% endfor %}
            </script>
            <img id="bk-scene" src="../assets/terrain/dry_hay_field.jpg">

            <a-mixin id="bg-frame"></a-mixin>
            <a-mixin id="frame"></a-mixin>
        </a-assets>

        <!-- Need these for responsive UI -->
        <a-entity id="background" position="0 0 0" geometry="primitive: sphere; radius: 2.0"
            material="color: red; side: back; shader: flat" scale="0.001 0.001 0.001" visible="false"
            class="raycastable">
        </a-entity>
        <a-entity id="mouseCursor" cursor="rayOrigin: mouse"></a-entity>

        <!-- These are the actual lobby entities -->
        <a-entity template="src: #stalls; data: stall-data" stall-data="data" position="0 1.2 0"></a-entity>

        <!-- <a-entity layout="type: line; margin: 5; plane: xz; align: center" position="2 1.2 -6" rotation="0 30 0">
            <a-entity id="lobby-area-0" info-panel rotation="0 -30 0">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color="max: 0.25 0.25 0.25">
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (A)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-1" info-panel rotation="0 -30 0">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (B)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-2" info-panel rotation="0 -30 0">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (C)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>
        </a-entity> -->
        <!-- 
        <a-entity position="0 1.2 0">
            <a-entity id="lobby-area-1" info-panel polar-position-xz="radius: 6; theta: 0; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (1)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-2" info-panel polar-position-xz="radius: 6; theta: 60; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (2)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-3" info-panel polar-position-xz="radius: 6; theta: 120; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (3)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-4" info-panel polar-position-xz="radius: 6; theta: 180; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (4)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-5" info-panel polar-position-xz="radius: 6; theta: 240; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (5)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>

            <a-entity id="lobby-area-6" info-panel polar-position-xz="radius: 6; theta: 300; ">
                <a-box id="bg-box" side="double" width="3.6" height="3" depth="0.1" color="#333333" opacity=".75"
                    random-color>
                    <a-entity id="info-title" position="-1.6 .85 0.1"
                        text="shader: msdf; anchor: left; width: 4; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (6)">
                    </a-entity>
                    <a-image id="info-png" position="0 0 0.07" color="#FFF" width="3.6" height="2.4"
                        src="../assets/room/kitchen/roomImage.png">
                    </a-image>
                </a-box>
            </a-entity>
        </a-entity> -->

        <a-sky src="#bk-scene"></a-sky>

        <a-entity id="rig" position="0 1.6 0">
            <a-entity id="camera" camera look-controls>
                <!-- <a-entity id="infoPanel" position="0 -1.3 -3" rotation="-30 0 0" visible="false"
                    geometry="primitive: plane; width: 1.5; height: 1"
                    material="color: #333333; shader: flat; transparent: false" class="raycastable">
                    <a-entity id="info-title" position="-0.68 .2 0"
                        text="shader: msdf; anchor: left; width: 1.5; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Ponyo (2003)"></a-entity>
                    <a-entity id="info-desc" position="-0.68 .1 0"
                        text="baseline: top; shader: msdf; anchor: left; font: https://cdn.aframe.io/examples/ui/Viga-Regular.json; color: white; value: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></a-entity>
                </a-entity> -->
            </a-entity>
        </a-entity>

    </a-scene>
</body>
<script>
    var stall_data = {
        "stall-0": {
            "title": "Master",
            "infographic": "public/assets/listing/infographics2/plans/Hero.webp",
            "text-content": [
                "4 towers planned"
            ]
        },
        "stall-1": {
            "title": "Tower A",
            "infographic": "public/assets/listing/infographics2/plans/TowerA.webp",
            "text-content": [
                "6 units per floor",
                "No common walls"
            ]
        },
        "stall-2": {
            "title": "Unit A",
            "infographic": "public/assets/listing/infographics2/plans/1975-East-A.webp",
            "text-content": [
                "East Facing",
                "1975 Sq Ft",
                "Studio Apartment"
            ],
            "model": "public/assets/listing/others/unit_b.glb"
        },
        "stall-3": {
            "title": "Unit B",
            "infographic": "public/assets/listing/infographics2/plans/1805-West-B.webp",
            "text-content": [
                "West Facing",
                "Duplex",
                "1805 Sq Ft"
            ],
            "model": "public/assets/listing/others/unit_b.glb"
        },
        "stall-4": {
            "title": "Unit C",
            "infographic": "public/assets/listing/infographics2/plans/2065-West-C.webp",
            "text-content": [
                "West Facing",
                "2065 Sq Ft"
            ],
            "model": "public/assets/listing/others/unit_c.glb"
        }
    };

    /* global AFRAME */
    AFRAME.registerComponent('info-panel', {
        init: function () {
            if (!this.el) return;

            this.infoPanel = this.el.querySelector('#infoPanel');
            this.onMouseEnter = this.onMouseEnter.bind(this);
            this.onMouseLeave = this.onMouseLeave.bind(this);
            this.el.addEventListener('mouseenter', this.onMouseEnter);
            this.el.addEventListener('mouseleave', this.onMouseLeave);
        },

        onMouseEnter: function (evt) {
            this.infoPanel.setAttribute('visible', true);
        },

        onMouseLeave: function (evt) {
            this.infoPanel.setAttribute('visible', false);
        },
    });

    AFRAME.registerComponent('polar-position-xz', {
        schema: {
            radius: { default: 10 },
            theta: { default: 0 },
            pos_y: { default: 0 }
        },
        update: function () {
            var data = this.data;
            var r = data.radius;
            var t = data.theta;
            var y = data.pos_y;
            this.el.setAttribute('position', {
                x: -Math.sin(t * Math.PI / 180) * r,
                y: y,
                z: -Math.cos(t * Math.PI / 180) * r
            });
            this.el.setAttribute('rotation', {
                x: 0,
                y: t,
                z: 0
            });

            console.log(this.el.getAttribute("id"), this.el.getAttribute('position'), this.el.getAttribute('rotation'));
        }
    });

    AFRAME.registerComponent('fetch-data', {
        schema: {
            idx: { default: 0 },
        },
        init: function () {
            if (this.data.idx >= Object.keys(stall_data).length) {
                this.el.setAttribute('visible', false);
                return;
            }

            let title = this.el.querySelector('#info-title');
            let graphic = this.el.querySelector('#info-png');
            let panel = this.el.querySelector('#infoPanel');
            let panel_title = panel.querySelector('#panel-title');
            let panel_desc = panel.querySelector('#panel-desc');

            title.setAttribute('text', {
                value: stall_data['stall-' + this.data.idx]['title']
            });

            panel_title.setAttribute('text', {
                value: stall_data['stall-' + this.data.idx]['title']
            });

            panel_desc.setAttribute('text', {
                value: stall_data['stall-' + this.data.idx]['text-content'].join('\n')
            });
        }
    });
</script>

</html>